*{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.2px;
}

a{
    text-decoration: none;
}

.top-bar a, .bottom a, .about-outerbox a, .project-outerbox a{
    color: black;
}

.f-14{
    font-size: 14px;
}

.f-18{
    font-size: 18px;
}

.f-20{
    font-size: 20px;
}

.f-30{
    font-size: 26px;
}

.f-36{
    font-size: 36px;
    font-weight: bold;
}

.regular{
    font-weight: 400;
}

.bold{
    font-weight: bold;
}

.sbold{
    font-weight:600;
}

.grey{
    color: #585858;
}

.ls{
    letter-spacing: 1.7px;
}

.top-bar, .bottom{
    position: fixed;
    width: 100%;
    display: block;
    z-index: 9;
}

.top-bar{
    top: 0;
    padding-top: 2%;
}

.top-bar ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.top-bar ul li{
    list-style: none;
    /* line-height: 80px; */
    padding: 25px 32px;
}

.top-bar ul li div{
    text-align: center;
}

.top-bar ul li .about{
    text-align: right;
}

.logo img{
    width: 45px;
}

.menu-icon button{
    background: none;
    border: none;
    cursor: pointer;
}

nav{
    position: absolute;
    left: -40%;
    top: 0;
    height: 100vh;
    width: 30%;
    background-color: black;
    color: white;
    z-index: 10;
    transition: 0.5s;
}

.menu-active{
    left: 0;
}

nav button{
    float: right;
    padding:5%;
}

nav ul{
    list-style: none;
    padding-top: 45%;
    
}

nav li{
    padding: 4%;
}

nav a{
    color: white;
    letter-spacing: 2px;
}

.bottom{
    bottom: 0;
    margin: 0;
}

.bottom div{
    padding: 25px 32px;

}

.contact{
    position: fixed;
    bottom: 3%;
    left: 2.2%;
    
}

.social-m{
    position: fixed;
    bottom: 3%;
    right: 2.5%;
}


.social-m ul{
    list-style: none;
}

#fullpage{
    /* margin: 0 20px; */
    padding: 20px 50;
    /* background-image: url(../resources/ss.jpg); */
    background-size: cover;
    background-position: center;
}

.section{
    padding: 0 15%;
    /*background-color: aliceblue; */
}

.intro-content{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
}

.intro-img{
    text-align: center;
}

.intro-img img{
    width: 70%;
}

.scroll{
    text-align: center;
    position: relative;
    top: 23%;
}

.title{
    border-left: 1px solid black;
    padding-left:8px;
}

.skill-outerbox{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    justify-content: space-around;
    padding-top:4%;
}

.skill-box{
    background-color: #EBEBEB;
    flex: 0 1 40%;
    padding:1% 0;
}

.box-content ul{
    list-style: none;
}

.project-outerbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:5%;
    padding: 4% 5% 2% 5%;
}

.project-box{
    box-shadow: 0 5px 10px 1px #EBEBEB;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    z-index: 100;
}

.project-img img{
    width:100%;
    opacity:0.7;
}

.project-content{
    padding:3% 5%;
}

.about-outerbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6%;
    padding-top: 5%;
}

.about-content, .about-contact{
    padding-right: 3%;
}

.about-contact{
    padding-left: 3%;
    
}

.contact-box{
    background-color: #EBEBEB;
    padding: 10%;
}

.know-btn{
    background: black;
    color: white;
    border-radius: 3px;
    padding:5px 8px;
    margin-top:2%;
}

@media(max-width:900px){
    .intro-content{
        flex-direction: column-reverse;
    }

    .intro-text{
        padding-top: 7%;
    }

    .scroll{
        top:15%;
    }

    .page-heading{
        padding-bottom: 7%;
    }

    .project-outerbox{
        padding:4% 3% 2% 3%;
    }

    .about-contact{
        padding: 0;
    }

    .contact-box{
        padding: 8% 1% 8% 3%;
    }

    .skill-box{
        flex: 0 1 45%;
    }

    .about-outerbox{
        grid-gap:0%;
    }
}

@media(max-width:400px){

    nav{
        width: 60%;
        left: -60%;
    }

    .skill-outerbox{
        justify-content: center;
        padding-right: 5%;
    }

    .skill-box{
        flex:1 0 100%;
    }

    .section{
        padding: 0 11%;
    }

    .page-heading{
        padding-bottom:10px;
    }

    .bottom div{
        padding: 20px 20px 10px 20px;
    }

    .social-m ul{
        margin: 0;
    }

    .project-outerbox{
        grid-template-columns: 1fr;
        padding: 5% 3% 2% 3%;
    }

    .proj-intro{
        display: none;
    }

    .about-outerbox{
        grid-template-columns: 1fr;
        padding: 0;
    }

    .about-content{
        padding: 0 0 3% 0;
    }

    .contact-box{
        padding: 2%;
        margin-right: 2%;
    }

    #abt-br{
        display: none;
    }
}